* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
  padding: 30px;
}

#bigtitle {
  font-family: 'Courier New', Courier, monospace;
  color:orange;
  text-align: center;
  margin-bottom: 25px;
}

form {
  max-width: 700px;
  margin: 0 auto 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

form div {
  margin-bottom: 15px;
}

/* label */
label {
    font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: orange;
}

/* textarea */
textarea {
  width: 100%;
  min-height: 150px;
  padding: 10px;
  resize: vertical;
  font-family: monospace;
}

/* radio buttons */
input[type="radio"] {
  margin-right: 5px;
  margin-left: 10px;
}

/* زر */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* نتيجة ASCII */
#result {
  width: 38%;
  min-height: 150px;
  margin: auto;
  background: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
}

/* النص الناتج */
#result pre {
  white-space: pre;
  overflow-x: auto;
  font-family: monospace;
}
